<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <title>{{ value.title }}</title>
    <link rel="alternate" type="application/rss+xml" title="{{site_info.description}}" href="/feed.xml">
    <link rel="alternate" type="application/json" title="{{site_info.description}}" href="/feed.json">
  </head>
  <body class="{% block area %}{% if "area" in value %}{{ value.area }}{% endif %}{% endblock %}">
    <header>
      <a href="/" class="home">{{site_info.title}}</a>
      <a href="/about.html" class="about">About</a>
    </header>
    <main>
      {% block body %}{{ value._body }}{% endblock %}
    </main>
  </body>
</html>
